basePath: /api/v1
host: localhost:8080
info:
  contact:
    email: support@example.com
    name: API Support
    url: https://github.com/Bedrockdude10/Booker
  description: API for music artist recommendations based on genre, location, and
    user preferences
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Artist Recommendation API
  version: "1.0"
paths: {}
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
